
# Build outputs
# Dependencies
# Environments
# IDEs
# Logs
# OS files
*.env
*.log
*.mp3
*.mp4
*.pyc
.DS_Store
.env
.env.*.local
.env.local
.idea/
.venv/
.vscode/
Thumbs.db
__pycache__/
build/
dist/
logs/
node_modules/
venv/
