@import "tailwindcss";

@theme {
  --color-trade-up: #ef4444;
  --color-trade-down: #3b82f6;
  --color-slate-850: #1e293b;
  --color-slate-950: #020617;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-200 antialiased overflow-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full hover:bg-slate-600;
}
